<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{message40}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <header id="navtop">
        <nav class="logo fleft">
            <img th:src="@{/images/logo_old_logo.png}" alt="Repair Agency">
            <a href="/" class="navactive" th:text="#{message8}"></a>
        </nav>
        <nav class="fright">
            <ul>
                </li><a href="/" class="navactive" th:text="#{message9}"></a></li>
                <li><a href="/manager/manageuseracounts" th:text="#{message41}"></a></li>
            </ul>
            <ul>
                <a th:href="@{'?locale=en'}">
                    <img th:src="@{/images/english.png}" alt="English">
                </a>
            </ul>
            <ul>
                <a th:href="@{'?locale=ua'}">
                    <img th:src="@{/images/ukrainian.png}" alt="Ukrainian">
                </a>
            </ul>
        </nav>
    </header>

    <div class="home-page main">
        <section class="grid-wrap">
            <div class="slider grid col-one-half mq2-col-full">
                <p></p>
                <h2 th:text="#{message53}"></h2>
                <form th:action="@{/manager/addmoney}" method="post">
                    <input type="hidden" th:value="${client_name}" name="userName"/>
                    <label th:text="#{message54}"></label><input type="text" class="textField2" name="account">
                    <p></p>
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <br>
                    <div><input type="submit" class="custom_button" th:value="#{message38}"/></div>
                </form>
                <p></p>
                <h3 th:text="${message}"></h3>
            </div>
            <div class="slider grid col-one-half mq2-col-full">
                <figure>
                    <img th:src="@{/images/img6.jpg}" alt="">
                </figure>
            </div>

        </section>
    </div>
</div>

</body>
</html>