<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Choose master page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <header id="navtop">
        <nav class="logo fleft">
            <img th:src="@{/images/logo_old_logo.png}" alt="Repair Agency">
            <a href="/" class="navactive">Repair agency "Anti butter-fingers!"</a>
        </nav>
        <nav class="fright">
            <ul>
                <li><a href="/" class="navactive">Home</a></li>
                <li><a href="/manager/manageorders">View orders</a></li>
            </ul>
            <ul>
                <a th:href="@{'?locale=en'}">
                    <img th:src="@{/images/english.png}" alt="English">
                </a>
            </ul>
            <ul>
                <a th:href="@{'?locale=ua'}">
                    <img th:src="@{/images/ukrainian.png}" alt="Ukrainian">
                </a>
            </ul>
        </nav>
    </header>

    <div class="home-page main">
        <section class="grid-wrap">
            <div class="slider grid col-one-half mq2-col-full">
                <p></p>
                <h2>Please choose master for this order</h2>
                <form th:action="@{/manager/choosemaster}" method="post">
                    <input type="hidden" th:value="${order_id}" name="orderId">
                    <select name="masterForOrder" class="checkField">
                        <option th:each="master : ${masters}"
                                th:value="${master.userName}"
                                th:text="${master.userName}">
                        </option>
                    </select>
                    <p></p>
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <div><input type="submit" class="custom_button" value="Save"/></div>
                </form>
                <p></p>
                <h3 th:text="${message}"></h3>
            </div>
            <div class="slider grid col-one-half mq2-col-full">
                <figure>
                    <img th:src="@{/images/img6.jpg}" alt="">
                </figure>
            </div>

        </section>
    </div>
</div>

</body>
</html>