<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{message40}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <header id="navtop">
        <nav class="logo fleft">
            <img th:src="@{/images/logo_old_logo.png}" alt="Repair Agency">
            <a href="/" class="navactive" th:text="#{message8}"></a>
        </nav>
        <nav class="fright">
            <ul>
                <li><a href="/" class="navactive" th:text="#{message9}"></a>
                <li>
                <li><a href="/manager/manageuseracounts" class="navactive" th:text="#{message41}"></a>
                <li>
            </ul>
            <ul>
                <a th:href="@{'?locale=en'}">
                    <img th:src="@{/images/english.png}" alt="English">
                </a>
            </ul>
            <ul>
                <a th:href="@{'?locale=ua'}">
                    <img th:src="@{/images/ukrainian.png}" alt="Ukrainian">
                </a>
            </ul>
        </nav>
    </header>

    <div class="home-page main">
        <div class="container" align="left">
            <div th:if="${not #lists.isEmpty(orders)}">
                <h2 th:text="#{message30}"></h2>
                <table class="table" id="orders" border=1 bordercolor="#000000" cellpadding=10>
                    <tr>
                        <th th:text="#{message42}"></th>
                        <th th:text="#{message17}"></th>
                        <th th:text="#{message19}"></th>
                        <th th:text="#{message18}"></th>
                        <th th:text="#{message20}"></th>
                        <th th:text="#{message21}"></th>
                        <th th:text="#{message43}"></th>
                        <th th:text="#{message22}"></th>
                        <th th:text="#{message31}"></th>
                        <th th:text="#{message44}"></th>
                    </tr>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.clientId?.userName}"></td>
                        <td th:text="${order.category}"></td>
                        <td th:text="${order.modelOrder}"></td>
                        <td th:text="${order.description}"></td>
                        <td th:text="${order.stateManager}"></td>
                        <td th:text="${order.stateMaster}"></td>
                        <td th:text="${order.masterId}"></td>
                        <td th:text="${order.orderPrice}"></td>
                        <td><a th:href="@{/manager/changepaymentstatus/{id}(id=${order.id})}" th:text="#{message45}"></a>
                        </td>
                        <td><a th:href="@{/manager/choosemaster/{id}(id=${order.id})}" th:text="#{message44}"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p></p>
</div>

</body>
</html>