<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{message40}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <header id="navtop">
        <nav class="logo fleft">
            <img th:src="@{/images/logo_old_logo.png}" alt="Repair Agency">
            <a href="/" class="navactive" th:text="#{message8}"></a>
        </nav>
        <nav class="fright">
            <ul>
                <li><a href="/" class="navactive" th:text="#{message9}"></a>
                <li>
                <li><a href="/manager/manageorders" class="navactive"  th:text="#{message46}">Client orders</a>
                <li>
            </ul>
            <ul>
                <a th:href="@{'?locale=en'}">
                    <img th:src="@{/images/english.png}" alt="English">
                </a>
            </ul>
            <ul>
                <a th:href="@{'?locale=ua'}">
                    <img th:src="@{/images/ukrainian.png}" alt="Ukrainian">
                </a>
            </ul>
        </nav>
    </header>

    <div class="home-page main">
        <div class="container" align="left">
            <div th:if="${not #lists.isEmpty(clients)}">
                <h2 th:text="#{message52}"></h2>
                <table class="table" id="orders" border=1 bordercolor="#000000" cellpadding=10>
                    <tr>
                        <th th:text="#{message42}"></th>
                        <th  th:text="#{message47}"></th>
                        <th  th:text="#{message48}"></th>
                    </tr>
                    <tr th:each="client : ${clients}">
                        <td th:text="${client.userName}"></td>
                        <td th:text="${client.account}"></td>
                        <td><a th:href="${'/manager/addmoney/' + client.userName}" th:text="#{message49}"></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>