<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Client cabinet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">

    <header id="navtop">
        <nav class="logo fleft">
            <img th:src="@{/images/logo_old_logo.png}" alt="Repair Agency">
            <a href="/" class="navactive">Repair agency "Anti butter-fingers!"</a>
        </nav>
        <nav class="fright">
            <ul>
                </li><a href="/" class="navactive">Home</a></li>
                <li><a href="/client/myorder">My orders</a></li>
            </ul>
            <ul>
                <a th:href="@{'?locale=en'}">
                    <img th:src="@{/images/english.png}" alt="English">
                </a>
            </ul>
            <ul>
                <a th:href="@{'?locale=ua'}">
                    <img th:src="@{/images/ukrainian.png}" alt="Ukrainian">
                </a>
            </ul>
        </nav>
    </header>

    <div class="home-page main">
        <section class="grid-wrap">
            <div class="slider grid col-one-half mq2-col-full">
                <h2>Create new order</h2>
                <form th:action="@{/client/neworder}" method="post">
                    <select class="checkField" name="category">
                        <option th:each="category : ${T(com.project.aynat.domain.Category).values()}"
                                th:value="${category}"
                                th:text="${category}">
                        </option>
                    </select>
                    <p></p>
                    <label>Model: <input type="text" class="textField2" name="modelOrder"></label>
                    <label>Description: <input type="text" class="textField2" name="description"></label>
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <p></p>
                    <div><input type="submit" class="custom_button" value="Create order"/></div>
                </form>
            </div>
            <div class="slider grid col-one-half mq2-col-full">
                <figure>
                    <img th:src="@{/images/img3.jpg}" alt="">
                </figure>
            </div>

        </section>
    </div>

</div>

</body>
</html>