<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title th:text="#{message1}"></title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">

    <header id="navtop">
        <nav class="logo fleft">
            <img th:src="@{/images/logo_old_logo.png}" alt="Repair Agency">
            <a href="greeting.html" class="navactive" th:text="#{message8}"></a>
        </nav>
        <nav class="fright">
            <ul>
                <a href="/success" class="navactive" th:text="#{message11}"></a>
            </ul>
            <ul>
                <a th:href="@{'?locale=en'}">
                    <img th:src="@{/images/english.png}" alt="English">
                </a>
            </ul>
            <ul>
                <a th:href="@{'?locale=ua'}">
                    <img th:src="@{/images/ukrainian.png}" alt="Ukrainian">
                </a>
            </ul>
        </nav>
    </header>
    <div class="home-page main">
        <section class="grid-wrap">

            <div class="slider grid col-one-half mq2-col-full">
                <p></p>
                <p></p>
                <p>
                <h1 class="textStyleNew" th:text="#{message12}"></h1>
                <h2 class="textStyleNew" th:text="#{message13}"></h2>
                <h2 class="textStyleNew" th:text="#{message14}"></h2>
                <h2 class="textStyleNew" th:text="#{message15}"></h2>
            </div>
            <div class="slider grid col-one-half mq2-col-full">
                <div class="newDiv">
                    <figure>
                        <img th:src="@{/images/edward.png}" alt="Anti butter-fingers">
                    </figure>
                </div>
            </div>
        </section>
    </div>
    <div>
        <form class="custom_button3" th:action="@{/logout}" method="post">
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
            <input class="custom_button3" type="submit" th:value="#{message24}"/>
        </form>
    </div>
</div>

</body>
</html>
