<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title th:text="#{message3}"></title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>

<div class="container">

    <header id="navtop">
        <nav class="logo fleft">
            <img th:src="@{/images/logo_old_logo.png}" alt="Repair Agency">
            <a href="greeting.html" class="navactive" th:text="#{message8}"></a>
        </nav>
        <nav class="fright">
            <ul>
                <a href="greeting.html" class="navactive" th:text="#{message9}"></a>
            </ul>
            <ul>
                <a th:href="@{'?locale=en'}">
                    <img th:src="@{/images/english.png}" alt="English">
                </a>
            </ul>
            <ul>
                <a th:href="@{'?locale=ua'}">
                    <img th:src="@{/images/ukrainian.png}" alt="Ukrainian">
                </a>
            </ul>
        </nav>
    </header>
    <div class="home-page main">
        <h2 class="textStyleNew" th:text="#{message10}"></h2>
        <section class="grid-wrap">

            <div class="slider grid col-one-half mq2-col-full">
                <form th:action="@{/login}" method="post">
                    <label>Your name: <input type="text" name="username" class="textField"></label>
                    <label>Your password: <input type="password" name="password" class="passField"
                                                 autocomplete="on"></label>
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <p></p>
                    <div><input type="submit" class="custom_button" value="Sign In"/></div>
                </form>
                <form action="/registration" target="_blank">
                    <button class="custom_button" th:text="#{message4}"></button>
                </form>
            </div>
            <div class="slider grid col-one-half mq2-col-full">
                <figure>
                    <img th:src="@{/images/img.jpg}" alt="">
                </figure>
            </div>

        </section>
    </div>
</div>

</body>
</html>
